
<h1>Book a Space</h1>
<a href="/register %>"> <br>Register</a> 
<a href="/spaces %>"> <br>Spaces</a> 
<a href="/spaces %>"> <br>Sign out</a> 
<br>
<div class="submit">
  <a href="/spaces/new"><input type="submit" value="List a space"></a>
</div>
<br>
<div class="space">
  <h1>Spaces</h1>
  <% @spaces.reverse.each do |space| %>
    <li>Name:<a href="/spaces/<%= space.id %>"> <%= space.name %></a></li>
    <li>Description:</li>
    <%= space.description %>  
    <li>Available from:</li>
    <%= space.available_start %>  
    <li>Available to:</li>
    <%= space.available_end %>  
    <li>Price per Night:</li>
    <%= space.price %> 
    <a href="/spaces/<%= space.id %>"> <br>Click here to view</a>
    <br>
    <br>

  <% end %>
</div>




